<% provide(:title, "Sign in") %>
<h1 style="text-align:center;">Sign in</h1><br><br>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %><br>

      <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
    <% end %>
    <br>
    <p>New user? <%= link_to "Sign up now!", signup_path, :class => 'btn btn-mini btn-danger' %></p>
  </div>
</div>
