<p id="notice"><%= notice %></p>

<%= image_tag @product.photo.url(:thumb) %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>

<p>
  <b>Sub_Category:</b>
  <%= @product.sub_category %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b>City:</b>
  <%= @product.city %>
</p>

<div class="form-actions">
 <% if signed_in? %>
  <% if (@product.user_id == @user.id) %> 
    <%= link_to 'Back', products_path, :class => 'btn btn-info'  %>
    <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-info' %>
    <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
 <% else %>
   <%= link_to 'Contact Seller', contact_path(:param1 => @product.id), :class => 'btn btn-info'  %>
 <% end %>
</div>
